
/*ARTICLE*/
article{
    margin: 0 auto;
    padding: 0;
    width: 65%;
    border: none;
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.chatting-area-header{
    display: none;
}

.landingPage{
    margin: 0 auto;
    padding: 180px 0 0;
    height: 100vh;
    background-color: darkcyan;
}

.landingPage img{
    width: 40%;
}

.landingPage p{
    margin: 0 auto;
    width: 60%;
}

.landingPage button{
    padding: 10px;
    background-color: rgb(10, 178, 178);
    border: none;
    border-radius: 10px/45%;
    font-size: 15px;
}

.landingPage button a{
    text-decoration: none;
    color: black;
}

.chatting-area-body{
    margin: 0 auto;
    padding: 0;
    background-image: url("https://tinyurl.com/3etpbzdh");
}
