*{
    box-sizing: border-box;
}
/*ASIDE*/
aside{
    margin: 0 auto;
    padding: 0px;
    position: relative;
    width: 25%;
    border-right: 1px solid lightgray;
    font-family:Arial, Helvetica, sans-serif;
}
