#chats{
    margin: 0 auto;
    padding: 15px;
    background-color: black;
    height: 100vh;
    width: 100%;
    color: white;
    box-sizing: border-box;
}

.chats-1{
    display: flex;
    justify-content: left;
    background-color: black;
}

.chats-1 h1{
    margin: 0;
    padding: 0;
    width: 70%;
}

.chats-1 div{
    padding: 10px;
    width: 15%;
}

.chats-1 div i{
    font-size: 20px;
}

#chats .searchbutton{
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(4, 53, 4);
}

#chats .searchbutton input{
    height: inherit;
    width: 90%;
    border: none;
    background-color: inherit;
    font-size: 15px;
    color: white;
    padding: 5px;
    margin: 0 0 0 10px;
}

#chats .searchbutton label .bi-arrow-left{
    display: none;
}

.navbutton{
    display: flex;
    justify-content: left;
    margin: 10px auto;
}

.navbutton div{
    margin: 2px;
    border: none;
    border-radius: 10px/50%;
    padding: 5px;
    background-color: rgb(0, 38, 0);
    color: green;
    transition-duration: 1s;
}

#all{
    background-color: rgb(0, 38, 0);
    color: green;
    padding: 5px 10px;
}

#unread,#groups{
    background-color:rgb(73, 72, 72);
    color: grey;
    padding: 5px 10px;
}

#checkonline{
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 100%;
}

#checkonline .checkonline-icon{
    width: 20%;
    background-color: red;
}

#checkonline .checkonline{
    width: 50%;
}

#checkonline .reconnect{
    width: 15%;
}

#chats-body{
    margin: 0 auto;
    padding: 0;
}

#archive{
    margin: 0 auto;
    padding: 0;
    display: flex;
}

#archive div{
    margin: 10px;
    font-size: 20px;
}

#archive div i{
    color: limegreen;
}

.chat-footer{
    margin: 0 auto;
    padding: 0;
    display: flex;
}

#chats .chat-footer div{
    margin: 1px auto;
    font-size: 12px;
}
